## Connected with rapidapi.com

In [1]:
import json
import csv
import requests
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
url = "https://covid-19-statistics.p.rapidapi.com/reports"

headers = {
	"X-RapidAPI-Host": "covid-19-statistics.p.rapidapi.com",
	"X-RapidAPI-Key": "c53f40a9fbmsh9a803bcc4fa47c4p1dcffdjsndc6e0dae032f"
}

response = requests.request("GET", url, headers=headers)
print(response.text)

**Show all keys**

Karena Json berbentuk dictionary, jadi pertama akan dibuat list kosong untuk menampung value, kemudian menggunakan iterarion untuk mengambil setiap value dari setiap keys.

In [3]:
k= list()
data_json = response.json()['data']
for data1 in data_json:
  for data2 in data1:
      k.append(data2)
key=list(dict.fromkeys(k))
print(key)

['date', 'confirmed', 'deaths', 'recovered', 'confirmed_diff', 'deaths_diff', 'recovered_diff', 'last_update', 'active', 'active_diff', 'fatality_rate', 'region']

## Create List From Json

In [4]:
date= list()
confirmed = list()
deaths = list()
recovered = list()
confirmed_diff = list()
deaths_diff = list()
reccovered_diff= list()
last_update = list()
active = list()
active_diff = list()
fatality_rate = list()

for data in data_json:
  date.append(data['date'])

  confirmed.append(data['confirmed'])
  deaths.append(data['deaths'])
  recovered.append(data['recovered'])
  confirmed_diff.append(data['confirmed_diff'])
  deaths_diff.append(data['deaths_diff'])
  reccovered_diff.append(data['recovered_diff'])
  last_update.append(data['last_update'])
  active.append(data['active'])
  active_diff.append(data['active_diff'])
  fatality_rate.append(data['fatality_rate'])

### Mencetak isi list

Disini akan diperlihatkan apakah value sudah tersimpan dalam list dengan baik dan benar

In [ ]:
print(date)

In [ ]:
print(confirmed)

In [ ]:
print(deaths)

In [ ]:
print(recovered)

In [ ]:
print(confirmed_diff)

In [ ]:
print(deaths_diff)

In [ ]:
print(reccovered_diff)

In [ ]:
print(last_update)

In [ ]:
print(active)

In [ ]:
print(active_diff)

In [ ]:
print(fatality_rate)

## Load Data Using Pandas

In [8]:
import pandas as pd

df = pd.DataFrame(data_json)
print(df.head(5))

         date  confirmed  deaths  recovered  confirmed_diff  deaths_diff  \
0  2022-05-29     180174    7701          0              52            0
1  2022-05-29     276101    3497          0              20            0
2  2022-05-29     265873    6875          0               0            0
3  2022-05-29      42894     153          0               0            0
4  2022-05-29      99527    1900          0               0            0

   recovered_diff          last_update  active  active_diff  fatality_rate  \
0               0  2022-05-30 04:20:50  172473           52         0.0427
1               0  2022-05-30 04:20:50  272604           20         0.0127
2               0  2022-05-30 04:20:50  258998            0         0.0259
3               0  2022-05-30 04:20:50   42741            0         0.0036
4               0  2022-05-30 04:20:50   97627            0         0.0191

                                              region
0  {'iso': 'AFG', 'name': 'Afghanistan', 'provinc...
1  {'iso': 'ALB', 'name': 'Albania', 'province': ...
2  {'iso': 'DZA', 'name': 'Algeria', 'province': ...
3  {'iso': 'AND', 'name': 'Andorra', 'province': ...
4  {'iso': 'AGO', 'name': 'Angola', 'province': '...

In [9]:
nameCountry = list()
count = len(date)
for i in range (0, count):
    p = data_json[i]['region']['name']
    nameCountry.append(p)

In [ ]:
print(nameCountry)

In [11]:
df.pivot_table(index=["date", "last_update"], values=["confirmed", "deaths"])

                                    confirmed       deaths
date       last_update
2022-05-29 2020-08-04 02:27:56      76.000000     1.500000
           2020-12-21 13:27:30       6.500000     0.500000
           2021-11-10 23:21:44    2235.500000     2.000000
           2022-02-28 23:21:00   84139.000000    21.000000
           2022-03-01 23:21:04  186685.851852  4165.148148
           2022-05-30 04:20:50  696631.561170  8211.824468

In [ ]:
# Harusnya jadi heatmap tapi belom jadi

import plotly.express as px

lat_value = data_json

fig = px.density_mapbox(df, lat)